body {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    width: 800px;
}

.c1, .c2, .c3, .c4 {
    width: 100%;
    min-height: 150px;
}

.c1 {
    width: 30%;
    color: #fff;
    background-color: #00275a;
}

.c2 {
    color: #fff;
    background-color: #0376fa;
}

.c3 {
    color: #fff;
    background-color: #a7ceff;
}

.c4 {
    width: 75%;
    border: 3px solid red;
    box-sizing: border-box;
}

