div{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    border-radius: 100%;
    background-image: url(../Week3_assignments/img/sixlemon.jpg)
}

.lemonone {
    border: 10px groove rgb(96, 9, 235);
    width: 200px;
    height: auto;
}


.lemonthree {
    border: 10px groove rgb(96, 9, 235);
    width: 200px;
    height: auto;
}

.lemonfour {
    border: 10px groove rgb(235, 9, 197);
    width: 300px;
    height: auto;
}


.lemonfive {
    border: 10px groove rgb(209, 255, 4);
    width: 200px;
    height: auto;
}
