body {
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
        background-color: rgb(255, 255, 255);
    }


h1 {
    background-color: rgb(157, 235, 255);
    text-align: center;
    color: rgb(12, 12, 95);
    height: max-content;
    width: min-content;
    border-style: dotted;

}

h2 {
    background-color: rgb(255, 162, 235);
    text-align: center;
    color: rgb(83, 3, 63);
    height: auto;
    width:  auto;
    border: double;

}

div p, li {
    color: rgb(113, 22, 233);
    text-align: left;
}

div > p {
    background-color: lemonchiffon;
    color: rgb(16, 141, 79);
    height: auto;
    width: auto;
    border-style: initial;
}