div.relative {
position: relative;
left: 30px;
border: 3px solid red;
width:15%;
height:10%;
padding:5px;
}

div.relative_second_div{
position: relative;
left: 50%;
border: 3px solid #73AD21;
width:15%;
height:10%;
padding:5px;
}
