
p{
    text-align: center;
    font-size: 3em;
}

body{
    font-size: 35px;
}

li:first-child{
    color: rgb(29, 7, 226);
}

ul:first-child{
    background-color: palegreen;
}

ul:last-child{
    background-color: rgb(99, 253, 253);
}

li:nth-child(Even) {
    color: plum;
}

li:nth-child(Odd) {
    color: rgb(138, 4, 138);
}

a:focus {
    color: turquoise;
}

a {
    font-size: 50px;
}

input:focus {
    border: 3px solid orange;
}



