
p{
    text-align: center;
    font-size: 3em;
}

body{
    font-size: 35px;
}

li:first-child{
    color: rgb(29, 7, 226);
}

ul:first-child{
    background-color: palegreen;
}

ul:last-child{
    background-color: rgb(99, 253, 253);
}

li:nth-child(Even) {
    color: plum;
}

li:nth-child(Odd) {
    color: rgb(138, 4, 138);
}

li:only-child{
    color: rgb(62, 255, 143);
}

li:last-child(10){
    color: rgb(29, 7, 226);
}

li:nth-child(3n+2){
    color: red;
}
