h1{
    color: rgb(250, 15, 199);
}

h2{
    color: rgb(250, 158, 189);
}

h3{
    color: rgb(141, 2, 233);
}

h4{
    color: rgb(61, 231, 253);
}

h5{
    color: rgb(245, 60, 13);
}

h6{
    color: rgb(25, 236, 219);
}

h7{
    color: rgb(19, 243, 11);
}

h8{
    color: rgb(255, 251, 0);
}

h9{
    color: rgb(240, 14, 89);
}

h10{
    color: rgb(6, 2, 243);
}

ul{
    color: black;
}


