h1{
    color: darkgreen;
}

h2{
    color: palevioletred;
}

h3{
    color: darkgreen;
}

h4{
    color: palevioletred;
}



ul{
    color: black;
    
}



div{
    width: auto;
    height: auto;
    background-color: beige;
}
