h1{
    color: darkgreen;
}

h2{
    color: palevioletred;
}

h3{
    color: darkgreen;
}

h4{
    color: palevioletred;
}



ul{
    color: black;
    
}



div{
    width: auto;
    height: auto;
    background-color: beige;
}

header{
    font-size: 12em;
    text-align: center;
}

p{
    text-align: center;
    font-size: 3em;
}

.emphasize{
    color: hotpink;
    font-size: 20;
}

#promote{
    color: darkgreen;
    font-size: 15;
}