html {
    border: 2px solid rgb(0, 255, 255);
}

body {
    width: 40%;
    border: 2px solid rgb(205, 240, 6);
    /*position: relative;*/
}

div {
    border: 2px solid rgb(255, 0, 234);
    color: rgb(143, 140, 140);
}

#one {
    /* comment out position: relative */
    /* absolute is positioned off html element */
    position: relative;
    top: 100px;
    /* formatting */
    width: 600px;
    height: 400px;
    background-color: #888787;
}

#two {
    position: absolute;
    top: 120px;
    /*bottom: -210px;*/
    right: 20px;
    /* formatting */
    width: 300px;
    height: 200px;
    background-color: rgb(247, 161, 1);
}